.third-frame{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 50px 30px;
}

.third-frame-icon{
    display: flex;
}

.third-frame-text{
    text-align: right;
}

.third-frame-text .third-frame-subtitle {
    text-align: right;
  }

.third-frame-title{
    font-size: 55px;
    font-weight: 700;
    padding: 0 0;
    margin: 0 0;
    line-height: 4.26rem;
    margin-bottom: 1rem;
}

.third-frame-subtitle {
    font-size: 22px;
    font-weight: 300;
    padding: 0 0;
    margin: 0;
    margin-left: 6rem;
}

@media (max-width: 1050px) {
    .customfiles{
        height: 180px;
    }
    .third-frame-title{
        font-size: 35px;
    } 
    .third-frame-subtitle{
        /* max-width: 400px; */
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .customfiles{
        height: 130px;
    }
    .third-frame{
        padding: 50px 10px;
        flex-direction: column;
        gap: 10px;
    }
    .third-frame-text{
        padding-left: 20px;
        
    }    
    .third-frame-title{
        font-size: 20px;
        text-align: center;
    }
    .third-frame-subtitle{
        font-size: 10px;
        text-align: center !important;
        margin-left: 0;
        margin-top: 1rem;
    }
}