.p-menubar .p-menubar-custom,
.p-menubar .p-menubar-end {
    margin-left: inherit;
}

.p-menubar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1rem;
}

.logout-button {
    background-color: white;
    color: #3C39E8;
    font-size: large;
}

.logout-button:hover {
    background-color: #3c39e8;
    color: white;
    transition: 0.5s;
}