.p-menubar .p-menubar-custom,
.p-menubar .p-menubar-end {
    margin-left: inherit;
}

.p-menubar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.logout-button {
    background-color: white;
    color:#3C39E8;
    font-size: large;
}

.logout-button:hover {
    background-color: #3c39e8;
    color:white;
    transition: 0.5s;
}