/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.read-the-docs {
  color: #888;
}

.p-menubar .p-menubar-custom,
.p-menubar .p-menubar-end {
  margin-left: inherit;
}

.p-menubar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.logout-button,
.signup-button {
  background-color: #3c39e8e9;
  color: #ffffff;
  margin: 10px;
}

.signup-button:hover,
.logout-button:hover {
  background-color: #3c39e8;
}

.login-button {
  background-color: #ffffff;
  color: #3c39e8;
}

.login-button:hover {
  border: 1px solid #3c39e8;
}