td div.card.table-group {
    padding: 0;
    margin: 0;
    gap: 0 !important;
    justify-content: flex-end !important;
}

.card.table {
    padding: 0;
}

.card h1 {
    margin-block: 4rem;
}

.actions > div {
    justify-content: center;
}

.qr-dialog .p-sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.qr-dialog .qr-container {
    margin-top: 3rem;
<<<<<<< HEAD
    max-width: 400px;
    width: auto;
    margin-inline: auto;
}

.link {
    display: block;
    width: 100%;
    text-align: center;
}

.link .form-link {
    margin-bottom: 1rem;
}

.btn-group {
    display: flex;
    gap: 1rem;
=======
    width: 400px;
}

.formsHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
>>>>>>> a765cf6fc98c1830e49db7973cca5d605f82f382
}